# Python 3 Cheatsheet - Tuples

Author : Arunpandian Murugan

Email ID : arunpandian.murugan@outlook.com

# Basic Methods in Tuples

`Docstring` 
* Tuples are similar to list but one key difference is **immutability**.
* They are enclosed by ().

# type()

`Docstring` Used to find the **varible type**.

In [1]:
my_tuple = (1, 1.0, '10')

In [2]:
type(my_tuple)

tuple

# len()

`Docstring` Used to find the **tuple length**.

In [3]:
my_tuple = (1, 1.0, '10')

In [4]:
len(my_tuple)

3

# count()

`Docstring ` Used to find the occurence of particular data item.

In [5]:
my_tuple = ('a' ,'a' ,'a' ,1 ,1 ,1)

In [6]:
my_tuple.count('a')

3

# index()

`Docstring` By default, This method will return the first index of search element.

In [5]:
my_tuple = ('a' ,'a' ,'a' ,1 ,1 ,1)

In [7]:
my_tuple.index(1)

3

# Tuples Indexing

#### Fetch first data item in Tuple

In [8]:
my_tuple = ('a' ,'a' ,'a' ,1 ,1 ,1)

In [9]:
my_tuple[0]

'a'

#### Fetch last item in Tuple

In [10]:
my_tuple = ('a' ,'a' ,'a' ,1 ,1 ,1)

In [11]:
my_tuple[-1]

1

#### Acess inner element in Nested Tuple

In [12]:
my_tuple = ('a' ,'a' ,['apple', 'mango', ['chocolate','ice cream']] ,1 ,1 ,1)

In [14]:
my_tuple[2][2][1]

'ice cream'

#### Replacing data in Tuple - Important property

In [16]:
my_tuple = ('a' ,'a' ,'a' ,1 ,1 ,1)

In [17]:
my_tuple

('a', 'a', 'a', 1, 1, 1)

`Docstring` **Tuple are** ***Immutable.***

In [18]:
my_tuple[0] = 'Arun'

TypeError: 'tuple' object does not support item assignment

# Tuple Slicing


#### Get the subTuple of the existing Tuple

`Docstring` Used to fetch the particular data object of the Tuple using their index.

In [19]:
my_number_tuple = (23,54,1,2,76,21)

In [20]:
my_number_tuple

(23, 54, 1, 2, 76, 21)

`Syntax` my_number_tuple** [Start-Index : End-Index : Step-Size]**

`Docstring`
* Start-Index - Denotes the starting index of subtuple.
* End-Index - Denotes the Ending index of subtuple.
* step-size - Number of character has to be jumped in between start and end index.

#### Technically Correct

In [21]:
my_number_tuple = (23,54,1,2,76,21)

In [22]:
my_number_tuple[::]

(23, 54, 1, 2, 76, 21)

#### Using Starting Index

In [23]:
my_number_tuple = (23,54,1,2,76,21)

In [25]:
my_number_tuple[0]

23

#### Using both start and End Index

In [26]:
my_number_tuple = (23,54,1,2,76,21)

In [27]:
my_number_tuple[1:5]

(54, 1, 2, 76)

#### Using all Start, End and Step

In [26]:
my_number_tuple = (23,54,1,2,76,21)

In [28]:
my_number_tuple[1:5:2]

(54, 2)

#### Reversing the tuple with slicing method

In [29]:
my_number_tuple = (23,54,1,2,76,21)

In [30]:
my_number_tuple[::-1]

(21, 76, 2, 1, 54, 23)

# Check Particular data object in a Tuple

In [29]:
my_number_tuple = (23,54,1,2,76,21)

In [31]:
76 in my_number_tuple

True

# Iterating through Tuple

In [32]:
for item in my_number_tuple:
    print(item)

23
54
1
2
76
21

# Tuple Concatenation ( Addition +)

In [36]:
my_number_tuple_1 = ('one', 'two', 'three')

In [37]:
my_number_tuple_2 = ('four', 'five')

In [38]:
my_number_tuple_1 + my_number_tuple_2

('one', 'two', 'three', 'four', 'five')

# Tuple Multiplication (*)

In [29]:
my_number_tuple = (23,54,1,2,76,21)

In [39]:
my_number_tuple

(23, 54, 1, 2, 76, 21)

In [40]:
my_number_tuple * 2

(23, 54, 1, 2, 76, 21, 23, 54, 1, 2, 76, 21)